<header>
  <div class="container">
  <a routerLink="/" class="logo">Tc Food Corner</a>
  <nav>
    <ul>
      <li class="menu-container">
        <a routerLink="/dashboard">Options</a>
        <div class="menu">
          <a routerLink="/Profile">Your Profile</a>
          <a routerLink="/login">Login</a> <!--Agregar opcion para cambiar dinamicamente en caso de tener sesion iniciada -->
        </div>
      </li>
      <li>
        <a routerLink="/cart-page">Cart <span *ngIf="cartQuantity">{{cartQuantity}}</span></a>
      </li>
    </ul>
  </nav>
  </div>
</header>
