<app-search></app-search>


<!-- <div [ngIf]="mascotas || mascotas.length">

</div> -->

<table  class="table table-striped">
  <thead class="thead-dark">
    <tr>

      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Sexo</th>
    </tr>

  </thead>
  <tbody>
    
    <tr *ngFor="let mascota of this.mascotas">
      <th scope="row">
        {{mascota.id}}
      </th>
      <td>
        <a routerLink="/pets/{{mascota.id}}">
          {{mascota.nombre}}
        </a>
      </td>
      <td>
        {{ ((mascota.sexo == 1) ? "Macho" : "Hembra") }}
      </td>
    </tr>

  </tbody>
</table>
<app-not-found [visible]="!mascotas || !mascotas.length" resetLinkText="Reset Search"></app-not-found>

