@font-face {
  src: url('./assets/fonts/FiraSansCondensed-Black.ttf') format('truetype');
  font-family: FiraSansCondensed;
  font-style: normal;
}

html *
{
   font-family: FiraSansCondensed;
}

body {background-color: #fbbc78;}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
}
